#mainheader h1 {
	background: transparent url(../i/icons/gedit-icon.gif) no-repeat 0 50%;
}
.TabView {
	margin-top: 4px;
}
.TabView .Tabs {
	width: 100%;
	background: #F3F3F3;
}
.TabView .Tabs:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.TabView .Tabs a {
	float: left;
	display: block;
	text-align: center;
	border-right: 1px solid #f3f3f3;
	background: #f3f3f3 url(../i/chartTabBgLeft.jpg) no-repeat 0 0;
	text-decoration: none;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #3C496C;
}

.TabView .Tabs a span {
	display: block;
	padding: 4px 12px 5px;
	background: transparent url(../i/chartTabBgRight.jpg) no-repeat 100% 0;
}

.TabView .Tabs a:hover,
.TabView .Tabs a.Active {
	color: #B15674;
}

.TabView .Pages {
/*	border-top: 1px solid #95ADEF;*/
	overflow: hidden;
	height: 240px;
	min-height: 240px;
	background: #D0DBFB url(../i/boxBottom.jpg) no-repeat 0 100%;
}

.chartcontainer .infobox2 h2 {
	background: #D0DBFB url(../i/icons/gnome-graphics.png) no-repeat 0 50%;
}

.chartcontainer .chartbox {
	margin-bottom: 20px;
}

.chartcontainer .chart {
	width: 320px;
	background: #eee;
	text-align: center;
	vertical-align: top;
}
.chartcontainer .data {
	background: #D0DBFB;
	vertical-align: top;
}
.chartcontainer td.data {
	padding: 0;
}
.chartcontainer td {
	font-size: 11px;
}

#currentWeekTabView .Pages .period td {
	width: 5%;
}
#currentMonthTabView .Pages .period td {
	width: 10%;
}
#prevThreeMonthsTabView .Pages .period td {
	width: 10%;
}
#prevThreeMonthsTabView .Pages {
	height: 290px;
	min-height: 290px;
}
#allTabView .Pages {
	height: 350px;
	min-height: 350px;
}
.TabView .Page {
	background: transparent url(../i/chartTabBgRight.jpg) no-repeat 100% 0;
}

.statsdata {
	width: 100%;
	border-bottom: 1px solid #555;
	border-left: 1px solid #555;
}
.statsdata td {
	border-top: 1px solid #555;
	border-right: 1px solid #555;
}
.statsdata .header td {
	background: #3C496C;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
.statsdata .header td.periodtop {
	background: #B15674;
}
.statsdata .period td {
	background: #B15674;
	font-weight: normal;
	color: #fff;
	text-align: center;
}
.statsdata .data td {
	text-align: right;
}
.statsdata td.scount {
	width: 30px;
	background: #DDABBE;
}
.statsdata td.entrykey {
	text-align: left;
}
.statsdata td.entryvalue {
	width: 50px;
	background: #DDABBE;
}

#currentWeekChart,
#currentMonthChart,
#currentThreeMonthsChart,
#currentAllChart {
	margin-top: 4px;
}
#currentWeekChart .infobox2,
#currentMonthChart .infobox2,
#currentThreeMonthsChart .infobox2,
#currentAllChart .infobox2 {
	padding: 0;
}

