body { background: #f3f3f3;}
#loginpage {position: absolute;left: 50%;width: 440px;margin-left: -220px;margin-top: 150px;font-size: small;}
#loginpage div.infobox1 {background: #D0DBFB url(../i/boxTop440.jpg) no-repeat 0 0;}
#loginpage div.infobox2 {background: transparent url(../i/boxBottom440.jpg) no-repeat 0 100%;}
#loginpage form {margin: 0;}
#loginpage table {width: 300px; margin: 0 auto 0;}
#loginpage td {font-size: 14px;background: #D0DBFB; padding: 5px 0 10px 0; }
#loginpage td label { display: block; padding:0 0 5px 0; font-weight: bold; }
#loginpage td.inputs {text-align: left;}
#loginpage td.images {background: transparent url(../i/icons/64/gnome-xterm.png) no-repeat 50%;}

#loginpage td input {
    font-size: 14px;
    padding: 6px 5px 8px 5px;
    border: 2px solid #677498;
    width: 290px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

input::-moz-focus-inner {
    border: 0;
}

#loginpage td.right {
    text-align: right;
}

#loginpage td input.btn {
    width: auto;
    padding: 2px 30px 4px 30px;
    color: #fff;
    background: url("../i/buttonBgNavy.png") 0 0 no-repeat;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    border: 2px solid #42547a;
}

#loginpage p.error {
    color: #9e0b0f;
    font-weight: bold;
}