body {
	margin: 0;
	padding: 0;
	background: #D0DBFB none;
	color: #000;
	font-size: 62.5%;
	font-family: Tahoma, Verdana, sans-serif;
}
input, select, textarea {
	font-family: Tahoma, Verdana, sans-serif;
}
ul {
}
img {
	border: none;
}
th {
	padding: 3px 5px 4px;
	background: #fff url(../i/thGradientBlue.jpg) repeat-x 0 0;
}
td {
	padding: 3px 5px 4px;
	background: #fff;
}
a:link {
	color: #4C609E;
}
a:visited {
	color: #7A4C9E;
}
a:hover {
	color: #344579;
}
a:active {
	color: #344579;
}
a {
	outline-width: 0;
}
#container {
	width: 980px;
	margin: 0 auto;
	background: #fff;
	border-top: 8px solid #3C496C;
	border-bottom: 4px solid #3C496C;
	font-size: small;
}
#header {
	float: left;
	width: 940px;
	height: 60px;
	background: #667CC0;
	border-top: 1px solid #ccc;
	text-align: left;
	padding: 20px 20px 0;
}
#header a {
	font-size: 1.8em;
	font-weight: normal;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
#contentbox {
	clear: both;
	width: 940px;
	margin: 0 auto;
	padding: 20px 10px;
	background: #fff;
}
#maincontent {
	padding: 20px 20px 20px;
	background: #f3f3f3
/*	background: #f3f3f3 url(../i/mainContentTopWide.jpg) no-repeat 0 0;*/
}
.infobox1 {
	background: #D0DBFB url(../i/boxTop.jpg) no-repeat 0 0;
}
.infobox2 {
	padding: 10px;
	background: transparent url(../i/boxBottom.jpg) no-repeat 0 100%;
}
.infobox2 h2 {
	line-height: 50px;
	margin: 0 0 10px;
	padding: 0 55px;
	background: #D0DBFB url(../i/library.gif) no-repeat 0 50%;
	font-size: 1.8em;
	font-weight: normal;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
}
#filterbutton {
	position: absolute;
	left: 50%;
	top: 160px;
/*	width: 120px;*/
	width: 130px;
	height: 30px;
	margin-left: 208px;
	margin-left: 155px;
	background: #3C496C;
/*	background: transparent url(../i/filterBgLeft.jpg) no-repeat 0 100%;*/
	background: transparent url(../i/filterBgButton.jpg) no-repeat 0 0;
	text-align: center;
}
#filterbutton a {
	display: block;
	width: 100%;
	font-size: 14px;
	font-weight: normal;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	color: #fff;
	line-height: 30px;
/*	background: transparent url(../i/filterBgRight.jpg) no-repeat 100% 100%;*/
	text-decoration: none;
}
.pagebanner {
	padding: 3px 0;
	font-size: 11px;
	color: #000;
}
.pagelinks {
	padding: 3px 10px;
	font-size: 11px;
	color: #000;
}

.rbottom {
}
.tablebox {
}
#formlink {
	margin-bottom: 20px;
	text-align: right;
}

/*
#filterbutton {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: 250px;
	width: 150px;
	height: 40px;
	background: #000;
	color: #fff;
	text-align: center;
}
*/
#filterbox {
	z-index: 1;
	position: absolute;
	top: 160px;
	left: 50%;
	margin-left: -281px;
	width: 561px;
	display: none;
	background: transparent;
}
#filterbox td {
	border: none;
	background: transparent;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
}
#filterbox td.c {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/helpdesk/i/trans.png');
}
#filterbox td.c[class] {
	background-image: url(../i/trans.png);
}
#filterbox td.tl {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/helpdesk/i/tl.png');
}
#filterbox td.tl[class] {
	background-image: url(../i/tl.png);
}
#filterbox td.tr {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/helpdesk/i/tr.png');
}
#filterbox td.tr[class] {
	background: transparent url(../i/tr.png) no-repeat 100% 0;
}
#filterbox td.br {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/helpdesk/i/br.png');
}
#filterbox td.br[class] {
	background-image: url(../i/br.png);
}
#filterbox td.bl {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/helpdesk/i/bl.png');
}
#filterbox td.bl[class] {
	background-image: url(../i/bl.png);
}
#filterbox .trvc td, #filterbox .trvc td {
	background: #cf6;
}
#filterbox td.vt, #filterbox td.vb {
	height: 15px;
	padding: 0;
	font-size: 1%;
}
#filterbox td.hl, #filterbox td.hr {
	width: 15px;
	padding: 0;
}
#filterbox .filterlegend {
	padding: 0;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	border-bottom: 1px solid #fff;
}
#filterbox td table {
	height: 100px;
	min-height: 100px;
	border: 1px solid #fff;
}
#filterbox input,
#filterbox select,
#filterbox textarea {
	font-size: 11px;
	border: 1px solid #D0DBFB;
}
#filterbox .c td input {
	width: 100px;
}
#filterbox .c td select,
#filterbox .c td textarea {
	width: 100%;
}
/*
style="width: 70px; height: 15px; font-size: 11px; text-align: center; padding-top: 4px; background: url(/helpdesk/i/input_white.gif); border: 1px solid black;"
*/


#overform {
	z-index: 4;
	position: absolute;
	top: 180px;
	left: 0;
	height: 150px;
	width: 900px;
	background: transparent;
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: -0.8;
}
#overform td {
	background: transparent;
}

#formTicketEdit {
	width: 100%;
	font-size: 11px;
}
#formTicketEdit input {
	width: 80px;
}
#formPersonData {
	background: #9cc;
}
#formTicketEdit #aboutnotyfier {
	width: 490px;
	float: left;
	background: #9cc;
}
#formTicketEdit #aboutinputer {
	width: 490px;
	float: left;
	background: #d36;
}
#formProblemInfo {
	width: 100%;
}

#ticketsIterator {
	width: 100%;
	margin-top: 5px;
	font-size: 11px;
}
#ticketsIterator th {
	padding: 8px 5px 9px;
	border-right: 1px solid #afafaf;
	background: #D0DBFB url(../i/boxTop.jpg) repeat-x 0 0;
	background: #D0DBFB none;
	color: #000;
	text-align: left;
}
#ticketsIterator th.sortable a {
	display: block;
	width: 100%;
	color: #000;
	text-decoration: underline;
/*	background: transparent url(../i/thArrowUpDown.gif) no-repeat 100% 60%;*/
}
#ticketsIterator th.sorted {
	background: #8BA2DF;
}
#ticketsIterator th.sorted a {
	color: #fff;
}
#ticketsIterator th.order1 a {
	background: transparent url(../i/thArrowDown.gif) no-repeat 100% 60%;
}
#ticketsIterator th.order2 a {
	background: transparent url(../i/thArrowUp.gif) no-repeat 100% 60%;
}
#ticketsIterator th.rowNumber {
	border-left: 0px solid #5D83EE;
/*	background: #D0DBFB url(../i/thCornerLeft.jpg) no-repeat 0 0;*/
	background: #D0DBFB url(../i/boxTop.jpg) no-repeat 0 0;
	padding-left: 10px;
}
#ticketsIterator th.ticketView {
	border-right: none;
}
#ticketsIterator th.ticketEdit {
	border-right: none;
	border-right: 0px solid #5D83EE;
	background: #D0DBFB url(../i/boxTop.jpg) no-repeat 100% 0;
}
#ticketsIterator th.ticketDrop {
	border-right: 0px solid #5D83EE;
/*	background: #D0DBFB url(../i/thCornerRight.jpg) no-repeat 100% 0;*/
	background: #D0DBFB url(../i/boxTop.jpg) no-repeat 100% 0;
}
#ticketsIterator td {
	padding: 6px 5px 7px;
	background: #fff;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
#ticketsIterator .rowNumber {
	width: 25px;
	border-left: 1px solid #ddd;
}
#ticketsIterator td.rowNumber {
	text-align: right;
}
#ticketsIterator .ticketsDetail {
	font-weight: bold;
}
#ticketsIterator .category {
	width: 120px;
}
#ticketsIterator td.category {
}
#ticketsIterator .createDate {
	width: 75px;
}
#ticketsIterator td.createDate {
}
#ticketsIterator .status {
	width: 85px;
}
#ticketsIterator .priority {
	width: 85px;
}
#ticketsIterator .notifier {
	width: 100px;
}
#ticketsIterator .ticketView {
	width: 30px;
}
#ticketsIterator td.ticketView {
	text-align: center;
}
#ticketsIterator .ticketEdit {
	width: 30px;
}
#ticketsIterator td.ticketEdit {
	text-align: center;
}
#ticketsIterator .ticketDrop {
	width: 30px;
}
#ticketsIterator td.ticketDrop {
	text-align: center;
}
#footer {
	margin: 0;
	padding: 5px 0;
	background: #fff url(../i/headerBackgroundBlue3.jpg) repeat-x 0 0;
	background: #667CC0 none;
	border-bottom: 1px solid #fff;
	text-align: center;
}
#copy {
	font-size: x-small;
	color: #fff;
}
#copy a {
	font-weight: bold;
	font-size: x-small;
	color: #ACF04B;
}


#boxShadow {
	position: absolute;
	left: 0;
	top: 22px;
	width: 561px;
	/*
	padding-right: 5px;
	padding-bottom: 5px;
	*/
}
div.shadow {
/*	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/helpdesk/i/boxShadow.png');*/
}
div.shadow[class] {
/*	background: transparent url(../i/boxShadow.png) no-repeat 100% 100%;*/
}
#box {
	position: relative;
	left: 0;
	top: 0;
	width: 561px;
}
#panels {
	width: 561px;
	background: #DFA7B9 url(../i/filterVerticalBorder.gif) repeat-y 280px 0;
}
#panels:after {
	content: "";
	display: block;
	clear: both;
}
#boxleft {
	float: left;
	width: 280px;
}
#boxleft input,	#boxleft select,
#boxright input, #boxright select {
	font-size: 11px;
	border: 1px solid #D0DBFB;
	width: 100%;
}
#boxright {
	float: left;
	width: 280px;
	position: relative;
	margin-left: 1px;
}
#box .links {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/helpdesk/i/filterHeader.png');
}
#box .links {
	padding: 5px 10px 9px;
	background-color: #3C496C;
	color: #fff;
	background: transparent url(../i/filterHeader.png) no-repeat 0 0;
}
#box .links a {
	color: #fff;
	font-size: 11px;
}
#box .showstate {
	cursor: hand;
	cursor: pointer;
	float: right;
	font-size: 11px;
}
#box .headers {
	padding: 5px 10px 8px;
	font-weight: bold;
	border-top: 1px solid #D0DBFB;
	background-color: #B15674;
	color: #fff;
	font-size: 11px;
}
#box .switchcontent {
	min-height: 60px;
	height: 60px;
	padding: 5px 10px;
	border-top: 1px solid #D0DBFB;
	font-size: 11px;
}
#box .switchcontent td {
	padding: 2px;
}
#box .switchcontent .t1 {
	width: 20px;
}
#box .switchcontent .t2 input {
	width: 200px;
}
#box div.buttons {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/helpdesk/i/filterFooter.png');
}
#box div.buttons[class] {
	background: transparent url(../i/filterFooter.png) no-repeat 0 100%;
}
#box div.buttons {
	float: left;
	clear: both;
	width: 541px;
	padding: 6px 10px 6px;
	border-top: 1px solid #D0DBFB;
	color: #fff;
	text-align: right;
}



/*
div#filterbox {
	display: none;
	margin-top: 17px;
	margin-left: 1px;
	padding-top: 10px;
	border: 1px solid #5d6a9a;
	background: white;
}
div#formlink {
	text-align: right;
}
div#formlink a {
	width: 80px;
	margin-top: 6px;
	display: block;
	float: right;
	text-decoration: none;
	color:  #5d6a9a;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana;
	text-align: center;
	background: url(i/showlink.png) no-repeat;
}
div#forminfoaboutinputer {
	border: 1px solid #5d6a9a;
	width: 460px;
	padding: 5px;
	margin-bottom: 15px;
	float: left;
}
html>body #forminfoaboutinputer {
	margin-top: 0px;
}
div#forminfoaboutinputerlink a {
	width: 140px;
	height: 18px;
	display: block;
	float: left;
	text-decoration: none;
	color:  #5d6a9a;
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana;
	padding-top: 2px;
	text-align: center;
}
div#forminfoaboutinputer .tabtitle {
	padding: 2px 0 2px 5px;
	font-size: 12px;
	font-family: Tahoma;
	font-weight: normal;
	color: gray;
}
div#forminfoaboutinputer input {
	font-size: 11px;
	font-family: Verdana;
	font-weight: normal;
	padding: 2px 2px 2px 4px;
	color: gray;
}
div#aboutinputer {
	border: 1px solid white;
	position: relative;
	width: 480px;
}
div#suwaki {
	border: 1px solid white;
	position: relative;
	width: 310px;
}
div#formsuwaki {
	border: 1px solid #5d6a9a;
	width: 300px;
	padding: 5px;
	margin-bottom: 15px;
	float: left;
}
html>body #formsuwaki {
	margin-top: 0px;
}
div#formsuwakilink a {
	width: 140px;
	height: 18px;
	display: block;
	float: left;
	text-decoration: none;
	color:  #5d6a9a;
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana;
	padding-top: 2px;
	text-align: center;
	background: url(../i/showlink2.png) no-repeat;
}
div#aboutnotyfier {
	border: 1px solid white;
	position: relative;
	width: 480px;
}
div#forminfoaboutnotyfier {
	border: 1px solid #5d6a9a;
	width: 460px;
	padding: 5px;
	margin-bottom: 15px;
	float: left;
}
html>body #forminfoaboutnotyfier {
	margin-top: 0px;
}
div#forminfoaboutnotyfierlink a {
	idth: 140px;
	height: 18px;
	display: block;
	float: left;
	text-decoration: none;
	color: #5d6a9a;
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana;
	padding-top: 2px;
	text-align: center;
}
div#forminfoaboutnotyfier .tabtitle {
	padding: 2px 0 2px 5px;
	font-size: 12px;
	font-family: Tahoma;
	font-weight: normal;
	color: gray;
}
div#forminfoaboutnotyfier input {
	font-size: 11px;
	font-family: Verdana;
	font-weight: normal;
	padding: 2px 2px 2px 4px;
	color: gray;
}
div#pliki {
	border: 1px solid white;
	position: relative;
	width: 300px;
}
div#formpliki {
	border: 1px solid #5d6a9a;
	width: 300px;
	padding: 5px;
	margin-bottom: 15px;
	float: left;
}
html>body #formpliki {
	margin-top: 0px;
}
div#formplikilink a {
	width: 140px;
	height: 18px;
	display: block;
	float: left;
	text-decoration: none;
	color: #5d6a9a;
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana;
	padding-top: 2px;
	text-align: center;
}
div#problemcomments {
	border: 1px solid #5d6a9a;
	width: 600px;
	padding: 10px 10px 10px 10px;
	margin-bottom: 15px;
}
html>body #problemcomments {
	margin-top: 12px;
}
div#aboutproblem {
	border: 1px solid white;
	position: relative;
	width: 620px;
}
div#comment {
	border: 1px solid white;
	position: relative;
	width: 620px;
}
div#forminfoaboutproblem {
	display: block;
	border: 1px solid #5d6a9a;
	width: 600px;
	padding: 10px 10px 10px 10px;
	margin-bottom: 15px;
}
html>body #forminfoaboutproblem {
	margin-top: 12px;
}
div#forminfoaboutproblem .tabtitle {
	padding: 2px 0 2px 2px;
	font-size: 12px;
	font-family: Tahoma;
	font-weight: normal;
	color: gray;
}
div#forminfoaboutproblem textarea {
	border: 1px solid;
	width: 584px;
	font-size: 11px;
	font-family: Verdana;
	font-weight: normal;
	padding: 2px 2px 2px 4px;
	color: gray;
}
div#forminfoaboutproblem textarea:focus {
	width: 584px;
	font-size: 11px;
	font-family: Verdana;
	font-weight: normal;
	padding: 2px 2px 2px 4px;
	color: black;
	border: 2px solid black;
}
div#problemcomments textarea {
	border: 1px solid;
	width: 584px;
	font-size: 11px;
	font-family: Verdana;
	font-weight: normal;
	padding: 2px 2px 2px 4px;
	color: gray;
}
div#problemcomments textarea:focus {
	width: 584px;
	font-size: 11px;
	font-family: Verdana;
	font-weight: normal;
	padding: 2px 2px 2px 4px;
	color: black;
	border: 2px solid black;
}
div#forminfoaboutproblemlink a {
	width: 140px;
	height: 18px;
	display: block;
	float: left;
	text-decoration: none;
	color:  #5d6a9a;
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana;
	padding-top: 2px;
	text-align: center;
}
div#problemcommentslink a {
	width: 80px;
	display: block;
	float: right;
	text-decoration: none;
	color:  #5d6a9a;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana;
	text-align: center;
	padding: 0;
}
div#formbtns {
	display: block;
	border: 1px solid #5d6a9a;
	width: 950px;
	padding: 6px 6px 6px 6px;
	text-align: right;
}
div#formbtns input {
	width: 70px;
	font-size: 10px;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	color: gray;
}
div#formbtns input:hover {
	width: 70px;
	font-size: 10px;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	color: black;
}
th {
	font-size: 12px;
	font-family: Tahoma;
	color: black;
	background: #dfe2e3;
	padding: 2px 4px 2px 4px;
}
tr.odd {
	background: #ededed;
}
tr.even {
	background: #f5f5f5;
}
*/
