/* PODSTAWOWY UKÅ?AD STRONY */

html {margin: 0;padding: 0;}
body {margin: 0;padding: 0;background: #D0DBFB;font-size: 11px;font-family: Tahoma, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {margin: 0;padding: 0;font-family: "Trebuchet MS", Tahoma, Helvetica, sans-serif;line-height: 1;}
td {padding: 0;}
a {color: #4C609E;}
a:hover {color: #344579;}
img {border: none;behavior: url(iepngfix.htc);}
input, select, textarea {font-size: 11px;font-family: Tahoma, Helvetica, sans-serif;}
.btn {
    min-width: auto;
    padding: 2px 10px;
    border-top: 1px solid #999999;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    border-left: 1px solid #999999;
    background: transparent url(../i/buttonBgNavy.jpg) no-repeat 50% 0;
    color: #FFFFFF;
}
* html .btn {width: auto;}
a.btn {display: block;padding: 4px 10px;color: #FFFFFF;text-decoration: none;}
a.btn:hover {color: #FFFFFF;text-decoration: none;}
.ticketslist a.btn {
    width: 50px;
    background: #DEABBE url(../i/buttonBgPurple.jpg) no-repeat 50% 0;
    text-align: center;
}
#filterbutton {
    position: absolute;
    top: 187px;
    right: 232px;
    color: #FFFFFF;
    font-weight: normal;
    z-index: 26;
}

#pagecontainer {
    width: 980px;
    margin: 10px auto;
}
#pageheader {
    padding: 10px 20px 20px;
    background: #667CC0 url(../i/hd-pageheadertop.jpg) no-repeat 0 0;;
}
#pageheader a {
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
#pagemenu {
    padding: 0 20px;
    background: #667CC0;
    text-align: left;
}
#pagemenu:after {
    content: "";
    display: block;
    clear: both;
}
#pagecontent {
    padding: 20px;
    background: #F3F3F3;
}
#pagecontentheader {
    height: 50px;
    margin-bottom: 10px;
    padding-left: 55px;
    background: transparent url(../i/icons/gedit-icon.png) no-repeat 0 50%;
}
#pagecontentheader h2 {
    line-height: 50px;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}
#pagecontentsubheader {
    position: relative;
    z-index: 2;
    margin-bottom: 4px;
    background: #D0DBFB url(../i/hd-pagecontentsubheader.jpg) no-repeat 0 0;
}
#pagecontentsubheader h3 {
    padding: 10px 50px 12px;
    background: transparent url(../i/icons/gnome-graphics.png) no-repeat 10px 50%;
    font-weight: bold;
    font-size: 18px;
}
#pagefooter {
    padding: 8px 20px;
    background: #667CC0 url(../i/hd-pagefooterbottom.jpg) no-repeat 0 100%;;
    color: #FFFFFF;
    text-align: center;
}
#content {
    background: #D0DBFB;
}
.contenttop {
    height: 10px;
    background: #F3F3F3 url(../i/hd-contenttop.jpg) no-repeat 0 0;
    font-size: 1%;
}
.contentbottom {
    height: 10px;
    background: #F3F3F3 url(../i/hd-contentbottom.jpg) no-repeat 0 0;
    font-size: 1%;
}
.contentmiddle {
    /*	position: relative;*/
    min-height: 260px;
    padding: 0 10px;
    background: #D0DBFB;
}
* html .contentmiddle {
    height: 260px;
}
#pagefooter a {
    color: #FFFFFF;
}
.standardtable {
    width: 100%;
    border: 1px solid #677498;
}
.standardtable th {
    padding: 6px 5px 7px;
     background: #6D7B9F;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    text-align: left;
    font-weight: bold;
    font-size: 11px;
    color: #F3F3F3;
}
.standardtable th a {
    color: #FFFFFF;
}
.standardtable td {
    padding: 6px 5px 7px;
    background: #F3F3F3;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    font-size: 11px;
}
.standardtable .lastcol {
    border-right: 0;
}

/* BIURKO */

#desktop table {
    width: 100%;
}
#pagecontentheader td {
    padding: 0;
}
#pagecontentheaderright {
    width: 50%;
    text-align: right;
}
#pagecontentheaderright a {
    margin-left: 20px;
}
.leftcells {
    width: 360px;
    border-right: 20px solid #F3F3F3;
}
td.leftcells,
td.rightcells {
    vertical-align: top;
}
.desktoppanelstabledata td.leftcells {
    padding-bottom: 30px;
    background: #D0DBFB url(../i/hd-contentbottomdesktop.jpg) no-repeat 0 100%;
}
.desktoppanelstabledata td.rightcells {
    padding-bottom: 30px;
    background: #D0DBFB url(../i/hd-contentbottomdesktopr.jpg) no-repeat 0 100%;
}
.leftcells .contenttop {
    background: #F3F3F3 url(../i/hd-contenttopdesktop.jpg) no-repeat 0 0;
}
.leftcells #pagecontentsubheader {
    background: #D0DBFB url(../i/hd-pagecontentsubheaderd.jpg) no-repeat 0 0;
}
.rightcells .contenttop {
    background: #F3F3F3 url(../i/hd-contenttopdesktopr.jpg) no-repeat 0 0;
}
.rightcells #pagecontentsubheader {
    background: #D0DBFB url(../i/hd-pagecontentsubheaderdr.jpg) no-repeat 0 0;
}
.lastTickets h3 {
    background: transparent url(../i/icons/gnome-help.png) no-repeat 10px 50%;
}
.lastInfo h3 {
    background: transparent url(../i/icons/gnome-applications.png) no-repeat 10px 50%;
}
.lastEvents h3 {
    background: transparent url(../i/icons/evolution.png) no-repeat 10px 50%;
}
.lastArticles h3 {
    background: transparent url(../i/icons/gnome-graphics.png) no-repeat 10px 50%;
}
#desktop .contentmiddle {
    min-height: auto;
    height: 200px;
    overflow: auto;
}
* html #desktop .leftcells .contentmiddle {
    width: 340px;
}
* html #desktop .leftcells table {
    width: 320px;
}
* html #desktop .rightcells .contentmiddle {
    width: 540px;
}
* html #desktop .rightcells table {
    width: 520px;
}


/* LISTA ZGÅ?OSZEÅ?*/

.ticketslist #pagecontentsubheader h3 {
    background: transparent url(../i/icons/gnome-help.png) no-repeat 10px 50%;
}
#paginationinfo {
    vertical-align: middle;
}
#paginationlinks {
    padding-left: 30px;
    vertical-align: middle;
}
#paginationlinks a,
#paginationlinks span,
#paginationlinks strong {
    padding-left: 5px;
}
#ticketsIterator {
    width: 100%;
    margin-top: 5px;
    font-size: 11px;
    border: 1px solid #677498;
}
#ticketsIterator th {
    padding: 6px 5px 7px;
    /*padding: 3px 5px 4px;*/
    border-right: 1px solid #CCCCCC;
    background: #6D7B9F;
    color: #F3F3F3;
    text-align: left;
}
#ticketsIterator th.sortable a {
    display: block;
    width: 100%;
    color: #F3F3F3;
    text-decoration: underline;
}
#ticketsIterator th.sorted {
    background: #677498;
}
#ticketsIterator th.sorted a {
    color: #FFFFFF;
}
#ticketsIterator th.order1 a {
    background: transparent url(../i/thArrowDown.gif) no-repeat 100% 60%;
}
#ticketsIterator th.order2 a {
    background: transparent url(../i/thArrowUp.gif) no-repeat 100% 60%;
}
#ticketsIterator th.rowNumber {
    border-left: 0px solid #5D83EE;
}
#ticketsIterator th.ticketView {
    border-right: none;
}
#ticketsIterator th.ticketEdit {
    border-right: none;
    border-right: 0px solid #5D83EE;
}
#ticketsIterator th.ticketDrop {
    border-right: 0px solid #5D83EE;
}
#ticketsIterator td {
    padding: 6px 5px 7px;
    /*padding: 3px 5px 4px;*/
    background: #F3F3F3;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}
#ticketsIterator .rowNumber {
    width: 25px;
}
#ticketsIterator td.rowNumber {
    text-align: right;
}
#ticketsIterator .ticketsDetail {
    font-weight: bold;
}
#ticketsIterator .category {
    width: 120px;
}
#ticketsIterator td.category {
}
#ticketsIterator .createDate {
    width: 75px;
}
#ticketsIterator td.createDate {
}
#ticketsIterator .status {
    width: 85px;
}
#ticketsIterator .priority {
    width: 85px;
}
#ticketsIterator .notifier {
    width: 100px;
}
#ticketsIterator .ticketView {
    width: 30px;
}
#ticketsIterator td.ticketView {
    text-align: center;
}
#ticketsIterator .ticketEdit {
    width: 30px;
    border-right: none;
    border-right: 0px solid #5D83EE;
}
#ticketsIterator td.ticketEdit {
    text-align: center;
}
#ticketsIterator .ticketDrop {
    width: 30px;
}
#ticketsIterator td.ticketDrop {
    text-align: center;
}


/* FILTR */

#filterbox {
    position: absolute;
    z-index: 4;
    top: 185px;
    left: 50%;
    margin-left: -281px;
    width: 561px;
    display: none;
    background: transparent;
}
#box {
    width: 561px;
    position: absolute;
}
div.panelsBg {
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='..//i/transFilter.png');
}
.panelsBg {
    background-image: url(..//i/transFilter.png);
}
#panels {
    width: 561px;
    background: transparent url(../i/filterVerticalBorder.gif) repeat-y 280px 0;
}
#panels:after {
    content: "";
    display: block;
    clear: both;
}
#boxleft {
    float: left;
    width: 280px;
}
#boxleft input,	#boxleft select,
#boxright input, #boxright select {
    border: 1px solid #D0DBFB;
    width: 100%;
}
#boxright {
    float: left;
    width: 280px;
    margin-left: 1px;
}
#box .links #x {
    position: absolute;
    top: 6px;
    right: 6px;
}
div.links {
    position: relative;
    width: 561px;
    height: 28px;
    background: transparent url(../i/hd-filterHeader.png) no-repeat 0 0;
}
* html div.links {
    /*background: #3B486B;*/
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='themes/hd/i/hd-filterHeader.png', sizingMethod='crop');
}
#box .innerlinks {
    position: absolute;
    top: 0;
    left: 0;
    width: 541px;
    height: 13px;
    padding: 5px 10px 10px;
    color: #fff;
}
#box .innerlinks a {
    color: #fff;
}
div.buttons {
    position: absolute;
    float: left;
    clear: both;
    width: 561px;
    height: 28px;
    background: transparent url(../i/hd-filterFooter.png) no-repeat 0 0;
    border-top: 1px solid #D0DBFB;
    color: #fff;
    text-align: right;
}
* html div.buttons {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='themes/hd/i/hd-filterFooter.png', sizingMethod='crop');
}
#box div.innerbuttons {
    position: relative;
    top: 0;
    left: 0;
    width: 541px;
    padding: 3px 10px;
    text-align: right;
}
#box .showstate {
    cursor: hand;
    cursor: pointer;
    float: right;
}
#box .headers {
    padding: 5px 10px 8px;
    font-weight: bold;
    border-top: 1px solid #D0DBFB;
    background-color: #B15674;
    color: #fff;
}
#box .switchcontent {
    min-height: 60px;
    padding: 5px 10px;
    border-top: 1px solid #D0DBFB;
}
* html #box .switchcontent {
    height: 60px;
}
#box .switchcontent td {
    padding: 2px;
}
#box .switchcontent .t1 {
    width: 20px;
}
#box .switchcontent .t2 input {
    width: 200px;
}


/* STATYSTYKI */

#stats #pagecontentsubheader h3 {
    background: transparent url(../i/icons/gnome-applications.png) no-repeat 10px 50%;
}


/* PODGLÄ„D ZGÅ?OSZENIA */

#ticketdetails table {
    width: 100%;
}
#ticketdetails .rightcells {
    padding-bottom: 30px;
    background: #F3F3F3 url(../i/hd-contentbottomdesktoprh.jpg) no-repeat 0 100%;
}
#ticketdetails .rightcells .contentbottom {
    height: 30px;
    background: #F3F3F3 url(../i/hd-contentbottomdesktopr.jpg) no-repeat 0 0;
    font-size: 1%;
}
#ticketdetails .leftcells {
    padding-bottom: 30px;
    border-left: 20px solid #F3F3F3;
    border-right: none;
    /*	background: #F3F3F3 url(../i/hd-contentbottomdesktop.jpg) no-repeat 0 100%; */
}
#ticketdetails .contentmiddle {
    position: relative;
    min-height: 180px;
    padding: 0 10px;
    background: #D0DBFB;
}
* html #ticketdetails .contentmiddle {
    height: 200px;
}
#ticketdetails .leftcells .contentmiddle {
    min-height: 110px;
}
* html #ticketdetails .leftcells .contentmiddle {
    height: 110px;
}
#ticketdetails .leftcells .contentbottom {
    height: 30px;
    background: #F3F3F3 url(../i/hd-contentbottomdesktop.jpg) no-repeat 0 0;
    font-size: 1%;
}
#ticketdetails td.scount {
    width: 30px;
    text-align: right;
}
#ticketdetails .chartcontainer .chartbox {
    margin-bottom: 0;
}
#ticketdetails .TabView {
    margin-top: 0;
}
#ticketdetails .TabView .Pages {
    height: 200px;
}
* html #ticketdetails .rightcells .TabView .Page {
    width: 560px;
}
#tabcell {
    background: red url(../i/hd-contentbottomdesktopr.jpg) no-repeat 0 100%;
}
#ticketdetails textarea.addcomment {
    width: 100%;
    height: 135px;
}
* html #ticketdetails textarea.addcomment {
    width: 560px;
    height: 120px;
}
#ticketdetails .tabtitle {
    width: 50px;
}
#ticketdetails table.mceEditor td {
    padding: 5px;
}


/* NOWE ZGÅ?OSZENIE */

#table1, #table2 {
    width: 100%;
}
#table1 td {
    padding: 0;
    background: #f3f3f3;
    vertical-align: top;
}
#table1 #topleft {
    width: 220px;
    height: 25px;
    background: transparent url(../i/stepsTop.jpg) no-repeat 0 0;
}
#table1 #middleleft {
    width: 200px;
    border-right: 20px solid #f3f3f3;
    background: #DDABBE;
}
#table1 #middleleft button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    background: #DDABBE;
    text-align: left;
}
#table1 #bottomleft {
    width: 220px;
    height: 25px;
    background: #f3f3f3 url(../i/stepsBottom.jpg) no-repeat 0 0;
}
#table1 #topcenter {
    padding-right: 20px;
    background: #f3f3f3 url(../i/formRightTop.jpg) no-repeat 100% 0;
}
#table1 #middlecenter {
    padding-right: 20px;
}
#table1 #bottomcenter {
    padding-right: 20px;
    background: #f3f3f3 url(../i/formRightBottom.jpg) no-repeat 100% 100%;
}
#table1 #topright {
    width: 220px;
    height: 25px;
    border-left: 10px solid #D0DBFB;
    background: #f3f3f3 url(../i/formRightTop.jpg) no-repeat 100% 0;
}
#table1 #topright div {
    float: left;
    width: 100%;
    height: 100%;
    background: transparent url(../i/formLeftTop.jpg) no-repeat 0 0;
}
#table1 #middleright {
    width: 220px;
    height: 25px;
    border-left: 10px solid #D0DBFB;
    background: #f3f3f3;
}
#table1 #bottomright {
    width: 220px;
    height: 25px;
    border-left: 10px solid #D0DBFB;
    background: #f3f3f3 url(../i/formRightBottom.jpg) no-repeat 100% 100%;
}
#table1 #bottomright div {
    float: left;
    width: 100%;
    height: 100%;
    background: transparent url(../i/formLeftBottom.jpg) no-repeat 0 100%;
}
#table1 h3 {
    margin: 0 0 0 5px;
    font-size: 13px;
    font-weight: bold;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    line-height: 1.1;
}
#table1 h3.firstStep {
}
#table1 .active h3 {
    width: 195px;
    margin-top: 4px;
    margin-bottom: 4px;
    background: #f3f3f3 url(../i/stepBottom.jpg) no-repeat 0 100%;
}
#table1 h3 span {
    display: block;
    padding: 4px 8px;
}
#table1 .active h3 span {
    padding: 6px 8px;
    background: transparent url(../i/stepTop.jpg) no-repeat 0 0;
}
#table1 p {
    margin-top: 0;
    text-align: justify;
}
#table2 td {
    padding: 3px 5px 4px;
}
#table2 table.mceEditor td {
    padding: 5px;
}
#table2 table.mceEditor td #mce_editor_0 {
    background: #fff;
}
#table2 td.tabtitle {
    width: 60px;
}
#table2 .textinput {
    width: 200px;
}
#table1 .files {
    width: 100%;
    margin-bottom: 10px;
}
#table1 .files td {
    padding: 3px 5px 4px;
    font-size: 11px;
}
#table1 .files td.tdnumber {
    width: 30px;
    background: #DDABBE;
    text-align: right;
}
#table1 .files td.tdfile {
    width: 250px;
}
#table1 .files td.tdsize {
    text-align: right;
}
#table1 .files td.tdlink {
    text-align: center;
}
#table1 .files .header td {
    background: #6D7B9F;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
#table1 .upload td {
    padding: 5px 0;
}
#table1 .upload .inputs input {
    padding-right: 5px;
}
#table1 .upload .inputs #fileinput {
    height: 22px;
}
#table2 .trheader {
    border-bottom: 1px solid #000;
    font-weight: bold;
    font-size: 11px;
}
#table2 .trh2 {
    padding-top: 15px;
}
#table2 #reasonarea .textinput {
    width: 392px !important;
    width: 390px;
    padding: 2px 3px;
}


/* PREFERENCJE */

.preferences .standardtable td {
    text-align: center;
    vertical-align: middle;
}
.preferences .password td {
    text-align: left;
}
.preferences .standardtable td.blank {
    width: 250px;
    text-align: left;
}
#personaldata td {
    text-align: left;
}
#personaldata .standardtable td.blank {
    width: 100px;
}
.preferences .standardtable .numberofitems td {
    /*background: #DDABBE;*/
    font-weight: bold;
}
.preferences .standardtable .numberofitems td.blank {
    background: #F3F3F3;
}
.preferences .rightcells {
    width: 560px;
}
.preferences .rightcells .contentbottom {
    height: 30px;
    background: #F3F3F3 url(../i/hd-contentbottomdesktopr.jpg) no-repeat 0 0;
    font-size: 1%;
}
.preferences .leftcells .contentbottom {
    height: 30px;
    background: #F3F3F3 url(../i/hd-contentbottomdesktop.jpg) no-repeat 0 0;
    font-size: 1%;
}
.preferences .options td {
    vertical-align: top;
}
.preferences .options div {
    width: 150px;
    height: 100px;
    margin: 6px 0 4px;
}
.preferences .options input {
    float: left;
    position: relative;
    top: 0 !important;
    top: -3px;
    margin: 0;
    padding: 0;
}
.preferences .standardtable .options span {
    float: left;
    margin-left: 5px;
}
#lookandfeel .standardtable table td {
    padding-left: 20px;
}
#lookandfeel td {
    text-align: left;
}


/* ZARZÄ„DZANIE */

.management .rightcells {
    width: 560px;
}
.management .rightcells .contentbottom {
    height: 30px;
    background: #F3F3F3 url(../i/hd-contentbottomdesktopr.jpg) no-repeat 0 0;
    font-size: 1%;
}
.management .leftcells .contentbottom {
    height: 30px;
    background: #F3F3F3 url(../i/hd-contentbottomdesktop.jpg) no-repeat 0 0;
    font-size: 1%;
}
#showallusers .standardtable {
    margin-top: 5px;
}
#showallusers .standardtable td {
    padding: 6px 5px 7px;
    padding: 3px 5px 4px;
}
#showallusers #paginationinfo {
    padding: 0;
}
.rowNumber {
    width: 25px;
}
td.rowNumber {
    text-align: right;
}
.ticketView, .ticketEdit, .ticketDrop {
    width: 30px;
}
th.ticketView, th.ticketEdit, th.ticketDrop {
    border-right: none;
}
td.ticketView, td.ticketEdit, td.ticketDrop {
    text-align: center;
}
.artnumber {
    width: 60px;
}
td.artnumber {
    text-align: right;
}

/* POMOC */

#tableofcontent ul,
#tableofcontent ol {
    margin: 5px 0 0;
    padding: 0 24px 20px;
}
#tableofcontent li {
    margin-bottom: 3px;
}

#knowledgebase ol {
    margin: 5px 0 0;
    padding: 0 24px 5px 24px;
}
#knowledgebase ul {
    margin: 5px 0 0;
    padding: 0 24px 3px 12px;
}
#knowledgebase li {
    margin-bottom: 3px;
}


#ticketsIterator td a {
}
#ticketsIterator td .linker {
    display: none;
    position: absolute;

}


#hint {
    position: absolute;
    width: 213px;
    background: transparent;
    z-index: 10;
}
#hinttop {
    width: 200px;
    height: 15px;
    margin-top: 25px;
    margin-left: 55px;
    background: transparent url(../i/hint/hintt.png) no-repeat 0 0;
}
* html div#hinttop {
    width: 200px;
    height: 15px;
    margin-top: 25px;
    margin-left: 55px;
    background: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='themes/hd/i/hint/hintt.png',sizingMethod='scale');
}
#hintbottom {
    width: 200px;
    height: 15px;
    margin-bottom: 25px;
    margin-left: 55px;
    background: transparent url(../i/hint/hintb.png) no-repeat 0 0;
}
* html div#hintbottom {
    background: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='themes/hd/i/hint/hintb.png',sizingMethod='scale');
}
#hintmiddle {
    width: 170px;
    min-height: 120px;
    padding: 0 15px;
    margin-left: 55px;
    background: transparent url(../i/hint/hintm.png) repeat-y 0 0;
    font-size: 11px;
    font-family: Tahoma, Helvetica, sans-serif;
}
* html div#hintmiddle {
    height: 120px;
}
#hintlt {
    display: none;
    position: absolute;
    left: 100px;
    width: 60px;
    height: 93px;
    background: transparent url(../i/hint/hintlt.png) no-repeat 0 0;
    z-index: 12;
}
* html div#hintlt {
    background: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='themes/hd/i/hint/hintlt.png',sizingMethod='scale');
}
#hintlb {
    display: none;
    position: absolute;
    left: 100px;
    width: 60px;
    height: 93px;
    background: transparent url(../i/hint/hintlb.png) no-repeat 0 0;
    z-index: 12;
}
* html div#hintlb {
    background: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='themes/hd/i/hint/hintlb.png',sizingMethod='scale');
}

* html input.btn {width: 70px;}
#table1.wide #topcenter {width: 672px;height: 25px;
                         background: url(../i/formWideTop.jpg) 0 0 no-repeat;}
#table1.wide #bottomcenter {width: 672px;height: 25px;
                            background: url(../i/formWideBottom.jpg)  no-repeat scroll left bottom transparent}
#table1.wide #table2 input, #table1.wide #table2 textarea,  #table1.wide #table2 select  {padding: 2px;font-size: 12px;}
#table1.wide #table2 input, #table1.wide #table2 textarea {border: 1px solid #999;}
.p10l {padding-left: 10px !important;}
.p20l {padding-left: 20px !important;}
.p10r {padding-right: 10px !important;}
.p20r {padding-right: 20px !important;}
.w100 {width: 100px;}
.w125 {width: 125px;}
.w150 {width: 150px;}
.w175 {width: 175px;}
.w200 {width: 200px;}
.w225 {width: 225px;}
.w250 {width: 250px;}
.w255 {width: 255px;}
.w275 {width: 275px;}