Witaj ${ticket.notifier}!

${rejector} odrzucił Twoje zgłoszenie #${ticket.ticketId}. Poniżej opisany przez niego powód
odrzucenia:
${comment}
--------------------------------------------------------------------------------------------
Pamiętaj, że w każdej chwili możesz zalogować się na stronie http://adres.helpdeska/
i obserwować na bieżąco zmiany związane z tym zgłoszeniem.
Aby zrobić to teraz, kilknij poniższy link:
http://localhost:5150/jhd/tickets/${ticket.ticketId}/details.html.
-------------------------------
Informacje o zgłoszeniu:

Problem:
 ${ticket.subject}
Kategoria:
 ${ticket.ticketCategory}
Skrócony opis:
 ${ticket.description}
Data zgłoszenia:
 ${ticket.createdAt}
Ważność:
 ${ticket.ticketPriority}

