/*
body {
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px ;
	margin-right: 0px;
	padding: 0px;
}
div#header {
	position: relative;
	height: 120px;
	border-bottom: 2px solid #5d6a9a;
	z-index: 100;
}
div#container {
	width: 1000px;
	height: 100%;
	padding-left: 2px;
	padding-right: 2px;
	text-align: left;
}
div#maincontent {
	background: white;
	border: 1px solid #5d6a9a;
	margin-left: 1px;
	margin-top: 17px;
	margin-bottom: 5px;
	padding-left: 2px;
	padding-bottom: 2px;
}
div#maincontent span.linker {
	position: absolute;
	border: 1px solid gray;
	top: 224px;
	width: 200px;
	text-align: justify;
	padding: 10px 2em 10px 2em;
	display: none;
}
div#maincontent span.pagebanner {
	display: block;
	padding: 4px 0px 4px 2px;
	font-size: 12px;
	font-family: Tahoma;
	font-weight: bold;
	color: gray;
}
div#footer {
	height: 16px;
	font-family;
	Arial;
	font-size: 12px;
	text-align: left;
	border-top: 1px solid #5d6a9a;
	color: #6b759a;
}
div#copy {
	font-family;
	Verdana;
	font-size: 11px;
	margin-left: 2px;
}
table.statsdata {
	border-top: 1px solid black;
	border-left: 1px solid black;
}
table.statsdata tr.header {
	background: #ffffca;
}
table.statsdata tr.header td {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 2px;
}
table.statsdata tr.data td {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding: 2px;
}
td.up {
	vertical-align: top;
}
tr.sectionheader {
	font-size: 14px;
	font-weight: bold;
	color: black;
	background: #dfe2e3;
	horizontal-align: center;
}
tr.sectionheader td {
	padding: 4px;
}
*/
