#pagemenu ul {
	width: 100%;
	margin: 0;
	padding: 0;
	background: transparent;
	clear: both;
}
#pagemenu li {
	position: relative;
	z-index: 10;
	list-style: none;
	margin: 0;
	float: left;
}
#pagemenu li.last {
	float: right;
}
#pagemenu .level1 li {
	margin: 0 4px 0 0;
	padding: 0;
	background: #D0DBFB url(../i/menuBgLeft.png) no-repeat 0 0;
}
#pagemenu .level1 a {
	display: block;
	margin: 0;
	padding: 7px 16px 4px;
	background: transparent url(../i/menuBgRight.png) no-repeat 100% 0;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}
#pagemenu .level2 li {
	margin: 0;
	background: #FFFFFF url(../i/menuBgL2.png) repeat-y 0 0;
}
#pagemenu .level2 li.first {
	border-top: 4px solid #666;
}
#pagemenu .level2 li.last {
	width: 200px;
	height: 10px;
	background: transparent url(../i/menuBgLast.png) no-repeat 0 0;
}
#pagemenu .level2 a {
	display: block;
	width: 180px;
	margin: 0 4px;
	padding: 4px 6px 5px;
	border-bottom: 1px solid #CCCCCC;
	background: none;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #000;
}
#pagemenu .level2 a:hover {
	background: #D0DBFB;
}
#pagemenu .level1 li:hover {
	cursor: url;
	cursor: pointer;
}
#pagemenu .level2 .submenu {
	z-index: 22;
}
#pagemenu .level1 ul {
	position: absolute;
	left: 0;
	width: 200px;
	display: none;
}
#pagemenu .level2 li:hover .level3 li:hover a {
	background: #D0DBFB;
}
#pagemenu .level1 li.submenu:hover .level2 {
	display: block;
}
#pagemenu .level2 li.submenu:hover .level3 {
	display: block;
}
#pagemenu ul.level3 {
	top: 4px;
	left: 186px;
	padding-top: 10px;
	background: transparent url(../i/menuBgTopL2.png) no-repeat 0 0;
}
#pagemenu ul.level3 li {
	z-index: 14;
}
#pagemenu ul.level3 li.first {
	border-top: none;
}
#pagemenu ul.level3 li.first a {
	border-top: 1px solid #CCCCCC;
}

